<!-- ###master_input_ajax### -->
	<div class="form-group ###is_error_###fieldname######">
		###validate_###fieldname###### <label for="###fieldname###" class="control-label">###LLL:###fieldname###### ###required_###fieldname###### </label>
		<input type="text" class="form-control" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######"/>
		###error_###fieldname######
	</div>
<!-- ###master_input_ajax### -->

<!-- ###master_spamprotection-sr_freecap### -->
<div class="form-group ###is_error_freecapfield###">
	<label class="control-label">###SR_FREECAP_NOTICE### ###required_freecapfield###</label>

	<input class="form-control" type="text" size="15" id="freecapfield" name="###formValuesPrefix###[freecapfield]" title="###SR_FREECAP_NOTICE###" value="" />
	###error_freecapfield###
</div>
<div class="form-group">
	<div class="row">
		###SR_FREECAP_IMAGE###
	</div>
</div>
<!-- ###master_spamprotection-sr_freecap### -->

<!-- ###master_submit-disable### -->
<input type="submit" ###submit_nextStep###  class="btn btn-primary ###validation-status###" value="###LLL:submit###" />
<!-- ###master_submit-disable### -->

<!-- ###master_ajax-submit### -->
<div class="row">
	<div class="large-10 small-10 columns">
		###loading_ajax-submit###
	</div>
	<div class="large-2 small-2 columns">
		<input type="submit" ###submit_nextStep### class="button secondary right" value="###LLL:submit###" />
	</div>
</div>
<!-- ###master_ajax-submit### -->

<!-- ###master_form-start### -->
<form action="###REL_URL###" method="post" id="###fieldname###">
  ###HIDDEN_FIELDS###
<!-- ###master_form-start### -->

<!-- ###master_form-end### -->
</form>
<!-- ###master_form-end### -->




<!-- USER EMAIL PLAIN TEXT -->

<!-- ###master_email-user-start-plain### -->

###LLL:greetings### ###value_firstname### ###value_lastname###

###LLL:email_user_text###

###value_authCodeUrl###

<!-- ###master_email-user-start-plain### -->

<!-- ###master_email-user-end-plain### -->

###LLL:email_user_footer###
<!-- ###master_email-user-end-plain### -->






<!-- ADMIN EMAIL PLAIN TEXT -->

<!-- ###master_email-admin-start-plain### -->

###LLL:email_admin_text###

<!-- ###master_email-admin-start-plain### -->

<!-- ###master_email-admin-end-plain### -->

###LLL:email_admin_footer###
<!-- ###master_email-admin-end-plain### -->






<!-- ADMIN EMAIL CONFIRMED EMAIL PLAIN TEXT -->

<!-- ###master_email-admin-email-confirmed-start-plain### -->

###LLL:email_admin_email_confirmed_text###

<!-- ###master_email-admin-email-confirmed-start-plain### -->

<!-- ###master_email-admin-end-plain### -->

###LLL:email_admin_email_confirmed_footer###
<!-- ###master_email-admin-end-plain### -->






<!-- USER EMAIL HTML -->

<!-- ###master_email-user-start-html### -->
<p>###LLL:greetings### ###value_firstname### ###value_lastname###,</p>
<br />
<p>###LLL:email_user_text###</p>
<p><a href="###value_authCodeUrl###">###LLL:email_user_confirm_link_text###</a></p>
<!-- ###master_email-user-start-html### -->

<!-- ###master_email-user-end-html### -->
<p>###LLL:email_user_footer###</p>
<!-- ###master_email-user-end-html### -->



<!-- ADMIN EMAIL HTML -->

<!-- ###master_email-admin-start-html### -->
<p>###LLL:email_admin_text###</p>
<br />
<table>
<!-- ###master_email-admin-start-html### -->

<!-- ###master_email-admin-end-html### -->
</table>
<br />
<p>###LLL:email_admin_footer###</p>
<!-- ###master_email-admin-end-html### -->

<!-- ###master_email-line-plain### -->
###LLL:###fieldname###### ###value_###fieldname######
<!-- ###master_email-line-plain### -->

<!-- ###master_email-line-html### -->
<tr>
	<td valign="top"><strong>###LLL:###fieldname######</strong></td>
	<td>###value_###fieldname######</td>
</tr>
<!-- ###master_email-line-html### -->




<!-- ADMIN EMAIL CONFIRMED EMAIL HTML -->

<!-- ###master_email-admin-email-confirmed-start-html### -->
<p>###LLL:email_admin_email_confirmed_text###</p>
<br />
<table>
<!-- ###master_email-admin-email-confirmed-start-html### -->

<!-- ###master_email-admin-email-confirmed-end-html### -->
</table>
<br />
<p>###LLL:email_admin_email_confirmed_footer###</p>
<!-- ###master_email-admin-email-confirmed-end-html### -->